extends ../layouts/common
block content
block header	

	h1 ADD USER
	form(action="/users/create", method="POST")
		div(class="input-group-prepend")
			span(class="input-group-text" id="inputGroup-sizing-default") Name
		input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-defau	lt" name="name")
		button(class="btn btn-primary ml-2") ADD