extends ../layouts/common
block content
  a(href="/books")
    h1 LIBRARY
block header
  form(class="d-flex" action="/books/search",method="GET")
    input(class="form-control" type="text", name="q")
    button(class="btn btn-primary ml-2") SEARCH

  ul(class="list-group")
    each user in users
      li(class="list-group-item")
        span= user.name
        span
          a(class="btn btn-danger btn btn-primary m-2 float-right" role="button" href="/users/" + user.id + "/delete") DELETE
          a(class="btn btn-primary m-2 float-right" role="button" href="/users/" + user.id + "/update") UPDATE
  a(class="btn btn-primary m-2" role="button" href="/users/create") ADD USER

