extends ../layouts/common
block content
block header
  .container-sm
    form(class="d-flex" action="/users/search",method="GET")
      input(class="form-control" type="text", name="q")
      button(class="btn btn-primary ml-2") SEARCH

  .container-sm
    table.table
      thead.thead-dark
        tr
          th(scope='col') ID
          th(scope='col') NAME
          th(scope='col') PHONE
          th(scope='col')
      tbody
      each user in users
        tr
          th(scope='row')= user.id
          td= user.name
          td= user.phone
          td
            a(class="btn btn-danger btn btn-primary ml-2 float-right" role="button" href="/users/" + user.id + "/delete") DELETE
            a(class="btn btn-primary ml-2 float-right" role="button" href="/users/" + user.id + "/update") UPDATE
    a(class="btn btn-primary m-2" role="button" href="/users/create") ADD USER

