extends ../layouts/common
block content
	a(href="/books")
		h1 LIBRARY
block header
	h1 UPDATE NAME
	form(class="d-flex" action="/users/" + id + "/update", method="POST")
		div(class="input-group-prepend")
			span(class="input-group-text" id="inputGroup-sizing-default") New name
		input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name")
		button(class="btn btn-primary ml-2") UPDATE