extends ../layouts/common
block content
block header
	.container-sm
		form(action="/transactions/" + id + "/complete" method="POST")
			input.mr-2(type="checkbox" name="isComplete" value="true")
			label(for="isComplete") Complete
			button(class="btn btn-primary ml-2") SUBMIT