extends ../layouts/common
block content
	a(href="/books")
		h1 LIBRARY
block header
	form(action="/transactions/" + id + "/complete" method="POST")
		input(type="checkbox" name="isComplete" value="true")
		label(for="isComplete") Complete
		input(type="submit" value="Submit")