extends ../layouts/common
block content
block header

	h2.text-center TRANSACTIONS
	.container-sm
		if error
			.alert.alert-danger= error
		table.table
			thead.thead-dark
				tr
					th(scope='col') ID
					th(scope='col') USER
					th(scope='col') BOOK
					th(scope='col')
					th(scope='col') COMPLETED
			tbody
			each transaction in transactions
				tr
					th(scope='row')= transaction.id
					td= getUserById(transaction.userId).name
					td= getBookById(transaction.bookId).title
					td
						a(class="btn btn-success" role="button" href="/transactions/" + transaction.id + "/complete") COMPLETE
					if transaction.isComplete === "true"
						td
							img(src='https://img.icons8.com/fluent/48/000000/checked-2.png')
		a(class="btn btn-primary m-2" role="button" href="/transactions/create") ADD TRANSACTION