//- extends ../layouts/common
//- block content  
  
//-   a(href="/books")
//-     h1 LIBRARY
//-   h2 TRANSACTIONS

//-   ul
//-     each transaction in transactions
//-       li
//-         span= getUserById(transaction.userId).name
//-         span= "====="
//-         span= getBookById(transaction.bookId).title
//-         button
//-           a(href="/transactions/" + transaction.id + "/complete") COMPLETE

//-   button
//-     a(href="/transactions/create") ADD TRANSACTION


extends ../layouts/common
block content
block header

  ul(class="list-group")
    each transaction in transactions
      li(class="list-group-item")
        span(class="float-left")= getUserById(transaction.userId).name
        span
          a(class="btn btn-success m-2 float-right" role="button" href="/transactions/" + transaction.id + "/complete") COMPLETE
        span(class="float-right")= getBookById(transaction.bookId).title
  a(class="btn btn-primary m-2" role="button" href="/transactions/create") ADD TRANSACTION


