head
  link(rel="stylesheet", href="/style.css")  
body
  a(href="/books")
    h1 LIBRARY
  h2 TRANSACTIONS

  ul
    each transaction in transactions
      li
        span= getUserById(transaction.userId).name
        span= "====="
        span= getBookById(transaction.bookId).title
        button
          a(href="/transactions/" + transaction.id + "/complete") COMPLETE

  button
    a(href="/transactions/create") ADD TRANSACTION




